<form #myForm = "ngForm" (ngSubmit) = "onSubmit(myForm.value)">
   <div><span>客户编号：</span><input ngModel type="text" name="cifNo"/></div>
   <div><span>业务类型：</span><input ngModel type="text" name="bussType"/></div>  
   <div><span>金融产品类别：</span><input ngModel type="text" name="prdType"/></div>
   <div><span>担保金额：</span><input ngModel type="text" name="savAmt"/></div>
   <div><span>融资比例：</span><input ngModel type="text" name="conamtFlt"/></div>
   <div><span>已融资金额：</span><input ngModel type="text" name="contAmt"/></div>
   <div><span>可用额度：</span><input ngModel type="text" name="restAmt"/></div>
   <div><span>发票对于可用融资额度：</span><input ngModel type="text" name="bilconAmt"/></div>
   <div><span>本次融资可申请金额：</span><input ngModel type="text" name="appAmt"/></div>
   <div><span>融资手续费比例：</span><input ngModel type="text" name="term"/></div>
   <div><span>融资手续费率：</span><input ngModel type="text" name="feeRate"/></div> 
   <div><span>资金调查费：</span><input ngModel type="text" name="fucFee"/></div> 
   <div><span>发票处理费：</span><input ngModel type="text" name="bilFee"/></div>
   <div><span>违约费：</span><input ngModel type="text" name="brcContAmt"/></div>
   <div><span>直接购货方建议确认：</span><input ngModel type="text" name="appargFlg"/></div>
   <div><span>直接购货方备注：</span><input ngModel type="text" name="appMark"/></div>
   <div><span>直接购货方证件号码：</span><input ngModel type="text" name="appidNo"/></div>
   <div><span>核心企业交易确认：</span><input ngModel type="text" name="corargFlg"/></div> 
   <div><span>核心企业名称：</span><input ngModel type="text" name="corName"/></div> 
   <div><input class="btn" type="submit" value="提交"/></div>
</form>
  <!--cifNo  bussType prdType savAmt conamtFlt contAmt restAmt bilconAmt appAmt term feeRate fucFee-->
 <!--bilFee  brcContAmt appargFlg appMark appidNo corargFlg corName-->
  <!-- <table>
     <tr>
        <td>客户编号</td>
        <td>客户名称</td>
        <td>业务类型</td>
        <td>购货方名称</td>
        <td>合同编号</td>
        <td>金融产品类别</td>
        <td>担保金额</td>
        <td>融资比例</td>
        <td>已融资金额</td>
        <td>可用额度</td>
        <td>发票对于可用融资额度</td>
        <td>本次融资可申请金额</td>
        <td>融资手续费比例</td>
        <td>融资手续费率</td>
        <td>资金调查费</td>
        <td>发票处理费</td>
        <td>违约费</td>
        <td>直接购货方建议确认</td>
        <td>直接购货方证件类型</td>
        <td>直接购货方证件号码</td>
        <td>直接购货方备注</td>
        <td>核心企业交易确认</td>
        <td>核心企业名称</td>
        <td>核心企业证件类型</td>
        <td>核心企业证件号码</td>
        <td>核心企业备注</td>
        <td>其他方确认</td>
        <td>其他方名称</td>
        <td>其他方证件类型</td>
        <td>其他方证件号码</td>
        <td>其他方备注</td>
        <td>业务员编号</td>
        <td>登记时间</td>
     </tr>
   </table> -->
<h2 id="minMsgspan"></h2>

         
<!--       
            "coridType": "1",
            "corNo": "1",
            "corMark": "1",
            "othargFlg": "1",
            "othName": "1",
            "othidType": "1",
            "othidNo": "1",
            "othMark": "1",
            "useNo": "1" -->