<el-form [inline]="true" size="small" style="margin:30px 0 10px 10px;">
	<el-form-item label="客户名称">
		<el-input></el-input>
	</el-form-item>
	<el-form-item label="业务类型">
		<el-input></el-input>
	</el-form-item>
	<el-form-item label="购货方名称">
		<el-input></el-input>
	</el-form-item>
	<el-form-item label="金融产品类别">
		<el-input></el-input>
	</el-form-item>
	<el-form-item>
		<el-button type="submit" claass="btn btn-success">搜索</el-button>
	</el-form-item>
</el-form>
<!-- cifName bussType buyName prdType-->
<el-button type="primary" style="position:absolute;top:75px;right:40px;" routerLink="../add">添加</el-button>  
 <el-table [model]="tableData" [stripe]="true" center="all" [scroll-x]="true">
  <el-table-column model-key="cifNo" label="客户编号" [render-html]="true"></el-table-column> 
  <el-table-column model-key="buyName" label="购货方名称" [render-html]="true"></el-table-column>   
  <el-table-column model-key="cifName" label="客户名称"></el-table-column>
  <el-table-column model-key="bussType" label="业务类型" [render-html]="true"></el-table-column>   
  <el-table-column model-key="prdType" label="金融产品类别"></el-table-column>   
  <el-table-column model-key="savAmt" label="担保金额"></el-table-column>   
  <el-table-column model-key="bilFee" label="发票处理费"></el-table-column>   
  <el-table-column model-key="useNo" label="业务员编号"></el-table-column>   
</el-table>     
