<form #myForm = "ngForm" (ngSubmit) = "onSubmit(myForm.value)">
   <div><span>订单编号：</span><input ngModel type="text" name="merchId"/></div>
   <div><span>发票号码：</span><input ngModel type="text" name="billNo"/></div>  
   <div><span>客户名称：</span><input ngModel type="text" name="cifName"/></div>
   <div><span>购货方名称：</span><input ngModel type="text" name="buyName"/></div>
   <div><span>商品序号：</span><input ngModel type="text" name="no"/></div>
   <div><span>规格型号：</span><input ngModel type="text" name="prodId"/></div>
   <div><span>交货地：</span><input ngModel type="text" name="adress"/></div>
   <div><span>单价：</span><input ngModel type="text" name="price"/></div>
   <div><span>购买数量：</span><input ngModel type="text" name="num"/></div>
   <div><span>金额：</span><input ngModel type="text" name="amount"/></div>
   <!-- <div><span>订单状态：</span><input ngModel type="text" name="authSts"/></div> -->
   <!-- <div><span>登记日期：</span><input ngModel type="text" name="txDate"/></div> -->
   <div><input class="btn" type="submit" value="提交"/></div>
</form>
<h2 id="minMsgspan"></h2>