.header {
  padding: 0 20px;
  width: 100%;
  height: 64px;
  background-color: #108ee9;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
}
.container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.container .body{
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}
.container .aside{
  width: 200px;
  height: 100%;
}
.container .main{
  -webkit-flex: 1;
  flex: 1;
  overflow: hidden;
}
