
<form id="form" #myForm = "ngForm" (ngSubmit) = "onSubmit(myForm.value)">
   <div><span>登陆账号</span><input ngModel type="text" name="useId"/></div>
   <div><span>联系方式</span><input ngModel type="text" name="cell"/></div>  
   <div><span>密码</span><input ngModel type="text" name="passwd"/></div>
   <div><input class="btns" type="submit" value="搜索"/></div>
</form>
<h2 id="minMsgspan"></h2>
<el-button type="primary" style="position:absolute;top:75px;right:40px;" routerLink="../add">添加</el-button> 
<el-table [model]="tableData" [stripe]="true" center="all" [scroll-x]="true">
  <el-table-column model-key="merchId" label="订单编号" [render-html]="true"></el-table-column> 
  <el-table-column model-key="buyName" label="购货方名称" [render-html]="true"></el-table-column>   -->
  <el-table-column model-key="cifName" label="客户名称"></el-table-column>
  <el-table-column model-key="prodId" label="规格型号" [render-html]="true"></el-table-column>   
  <el-table-column model-key="price" label="单价"></el-table-column>   
  <el-table-column model-key="adress" label="交货地"></el-table-column>   
  <el-table-column model-key="num" label="购买数量"></el-table-column>   
  <el-table-column model-key="amount" label="金额"></el-table-column>   
</el-table>    
