  <el-table [model]="tableData" [stripe]="true" center="all" [scroll-x]="true">
    <el-table-column model-key="merchId" label="订单编号" [render-html]="true"></el-table-column> 
     <el-table-column model-key="buyName" label="购货方名称" [render-html]="true"></el-table-column>   -->
     <!-- <el-table-column model-key="cifName" label="客户名称"></el-table-column>   -->
     <!-- <el-table-column model-key="prodId" label="规格型号" [render-html]="true"></el-table-column>   -->
     <!-- <el-table-column model-key="price" label="单价"></el-table-column>   -->
     <!-- <el-table-column model-key="adress" label="交货地"></el-table-column>   -->
     <!-- <el-table-column model-key="num" label="购买数量"></el-table-column>  -->
     <!-- <el-table-column model-key="amount" label="金额"></el-table-column>  -->
   
</el-table>    
